# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
gradlew.bat
gradlew
gradle/
SecretStuff.java
SecretListener.java
*.class
config.json
serversettings.json
cancelledusers.json
powerglove.jar
